

<h1>The Key Players</h1>
<% @coins = [] %>
<% @names = [] %>
<% @bitcoins.each do |bitcoin| %>
<% @coins << bitcoin["price_usd"].to_i %>
<% @names << bitcoin["name"].to_s %>
<% end %>
<h2><%=@names[0] %> is out in front, selling at $<%=@coins[0] %>/coin</h2>
<br />
<h2>But let's look at the other major coins out there!</h2>
<div id="container" style="width: 500px; height: 400px;">
<script>
    anychart.onDocumentReady(function() {
        var chart = anychart.bar(
          [
            // ["<%= @names[0].to_s %>", <%= @coins[0].to_i %>],
            ["<%= @names[1].to_s %>", <%= @coins[1].to_i  %>],
            ["<%= @names[2].to_s %>", <%= @coins[2].to_i  %>],
            ["<%= @names[3].to_s %>", <%= @coins[3].to_i %>],
            ["<%= @names[4].to_s %>", <%= @coins[4].to_i  %>],
            ["<%= @names[5].to_s %>", <%= @coins[5].to_i  %>],
            ["<%= @names[6].to_s %>", <%= @coins[6].to_i  %>],
            ["<%= @names[7].to_s %>", <%= @coins[7].to_i  %>]
          ]);

        // set container id for the chart
        chart.container('container');
        // initiate chart drawing
        chart.draw();
        chart.yAxis().title('Price in USD');
        chart.xAxis().title('Top Ranked Coins');
    });
</script>
</div>
