
<section>

    <h2>Data courtesy of <a target="_blank" href="https://coinmarketcap.com/api/">CoinMarketCap</a></h2>
    <div class="container">
      <table id="bitcoin-table">
        <tr>
          <th id="table-title" colspan="5">Top 100 Cryptocurrencies</th>
        </tr>
        <tr>
          <th>Rank</th>

          <th>Name</th>

          <th>Symbol</th>

          <th class="price-col">Price US$</th>

          <th>Last update</th>
        </tr>

        <% @bitcoins.each do |bitcoin| %>
        <tr class="<%= bitcoin["price_usd"].to_i > 1000 ? 'high' : 'normal' %>">
          <td><%= bitcoin["rank"]%></td>

          <td class="name"><%= bitcoin["name"] %></td>

          <td><%= bitcoin["symbol"]%></td>

          <td class="<%= bitcoin["price_usd"].to_i < 1 ? 'low prices' : 'prices'%>"><%= "%.4f" % bitcoin["price_usd"]%></td>

          <% time = Time.at(bitcoin["last_updated"].to_i) %>
          <td class="time"><%= time.strftime("%k:%M %d/%m/%Y") %></td>
          <% end %>
      </table>
    </div>
</section>
