
<section>

  <div>
  <h1>Bitcoins</h1>

  <table>
    <tr>
      <th>Rank</th>
      <th></th>
      <th>Name</th>
      <th></th>
      <th>Symbol</th>
      <th></th>
      <th>Price US$</th>
      <th></th>
      <th>Last update</th>
    </tr>
      <% @bitcoins.each do |bitcoin| %>
    <tr class="<%= bitcoin["price_usd"].to_i > 1000 ? 'high' : 'normal' %>">
      <td><%= bitcoin["rank"]%></td>
      <td></td>
      <td><%= bitcoin["name"] %></td>
      <td></td>
      <td><%= bitcoin["symbol"]%></td>
      <td></td>
      <td class="<%= bitcoin["price_usd"].to_i < 1 ? 'low prices' : 'prices'%>"><%= "%.4f" % bitcoin["price_usd"]%></td>
      <td></td>
      <% time = Time.at(bitcoin["last_updated"].to_i) %>
      <td><%= time.strftime("%k:%M %d/%m/%Y") %></td>
      <% end %>
  </table>
  </div>

</section>
